#portfolio {
  background: #2B2B2B;
  overflow: hidden;
  height: calc(100vh - 16rem);
}

#portfolio p{
  margin: 0 auto;
}

#portfolio h2, #portfolio h4{
  color: #FFF;
  margin: 1rem auto;
}

#portfolio .main-row { 
  flex: 6;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 33rem);
  padding: 2% 10% 10% 10%;
}
#portfolio .thumb-row { 
  flex: 4;
  position: absolute;
  width: 100%;
  height: 19rem;
  /* bottom: 6rem; */
  border-top: 2px solid #3d4145;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
}

#portfolio .project-list{
  margin: 0 auto;
  justify-content: start;
}

#portfolio .project-list li button{
  height: 100px;
  width: 100px;
}

#portfolio .project-list li{
  margin: 1.4rem 2rem 0 2rem;
  text-align: center;
}

#portfolio .mini-title{
  color: #FFF;
}

#portfolio .project-full{
  width: 90%;
  margin: 0 auto;
}

#portfolio .project-full .column h2{
  text-align: center;
}

#portfolio .project-img{
  margin: 0 auto;
  width: 100%;
  min-width: 10rem;
  max-width: 42rem;
}

#portfolio button{
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
}

#portfolio button:hover{
  background-color: #f4d143c9;
  border-radius: 0;
}

#portfolio .thumbnail{
  width: 90%;
  margin: 5px auto;
}

#portfolio .techs{
  overflow-wrap: break-word;
  padding-left: 2vw;
}

#portfolio .description{
  overflow-wrap: break-word;
  padding-left: 2vw;
}

.project-links{
  justify-content: center;
}

#portfolio a, #portfolio a:visited { color: #FFF; }
#portfolio a:hover, #portfolio a:focus { color: #56d4fd; }

#portfolio a{
  padding: 1rem;
  font-size: 3rem;
}

#portfolio .live-site{
  font-size: 2rem;
  color: rgb(194, 194, 194);
}

@media only screen and (min-width: 1000px) {
  #portfolio .project-full{
    flex-direction: row;
  }

  .col1{
    flex: 5;
    text-align: right;
  }

  .col2{
    flex: 5;
    padding-left: 2vw;
  }

  #portfolio .main-row{
    padding: 2% 5% 5% 2%;
  }

}